/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.nav-bar__app-text {
  margin: 24px 0px 0px 0px;  
}
.nav-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.nav-bar-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.main-content-container {
  padding: 12px 62px 0px;
  width: 100%;
}
.app-header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-header__searchbox {
  width: 400px;
}
.app-header__group-btn {
  display: flex;
  gap: 12px
}
