.nav-bar__app-text {
  margin: 24px 0px 0px 0px;  
}
.nav-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.nav-bar-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.main-content-container {
  padding: 12px 62px 0px;
  width: 100%;
}
.app-header-container {
  margin: 0px 0px 12px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-header__searchbox {
  width: 400px;
}
.app-header__group-btn {
  display: flex;
  gap: 12px
}
.home-list-cards {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
}
.home-list__card-box {
  width: 234px;
  height: 220px;
  border-radius: 12px !important; /* Set the desired border radius */
  padding: 24px 24px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.home-list-card-group-btn {
  /* padding: 12px 0px 24px 0px; */
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
.home-list-card-footer {
  padding: 12px 0px 24px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 12px; */
}
.home-list_card-textbox {
  display: -webkit-box;           /* Defines a flexible box layout */
  -webkit-box-orient: vertical;   /* Aligns the items in the vertical direction */
  -webkit-line-clamp: 6;          /* Limits the text to 3 lines */
  overflow: hidden;               /* Hides the overflowed text */
  text-overflow: ellipsis; 
  font-weight: 600;
}
.home-list-card-footer-date {
  font-size: 14px;
}
.home-pagination {
  float: right;
  padding: 24px;
}
.mobile-floating-btn {
  display: none !important;
}
.note-modal {
  width: 500px !important;
}













/* Mobile <740px*/
@media screen and (max-width: 739px) {
  .side-bar-drawer {
    display: none;
  }
  .home-list__card-box {
    width: 100%;
  }
  .mobile-floating-btn {
    display: inline-flex !important;
  }
  .app-header__searchbox {
    width: 200px;
  }
  .main-content-container {
    padding: 12px 40px 0px;
    width: 100%;
  }
  .note-modal {
    width: 332px !important;
  }
  .home-list-card-footer-date {
    font-size: 16px;
  }
}
/* Tablet 740px-1023px*/
@media screen and (min-width: 740px) and (max-width: 1023px) {
  .side-bar-drawer {
    display: none;
  }
  .mobile-floating-btn {
    display: inline-flex !important;
  }
  .main-content-container {
    padding: 12px 40px 0px;
    width: 100%;
  }
  .home-list__card-box {
    width: 39%;
    height: 220px;
  }
  .note-modal {
    width: 400px !important;
  }
  .home-list-card-footer-date {
    font-size: 16px;
  }
}